//Flexbox

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline-flex{
    display: inline-flex;
}

.block{
    display: block;
}

.grid{
    display: grid;
}

.gri
