//Flexbox

.flex {
  display: flex;
  justify-content: ;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 50% 50%;
}


